.crew {
    background-image: url(../../assets/crew/background-crew-mobile.jpg);

    @media (min-width: 35rem) {
        background-position: center center;
        background-image: url(../../assets/crew/background-crew-tablet.jpg); 
    }

    @media (min-width: 45rem) {
        background-image: url(../../assets/crew/background-crew-desktop.jpg);
    }
}


.grid-container--crew {
    --flow-space: 2rem;
    margin-top: 10rem;
    
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';

    & > picture{
        grid-area: image;
        max-width: 60%;
        border-bottom: 1px solid alpha(var(--clr-white), 0.1);
    }

    & > .dot-indicators{
        grid-area: tabs;
    }

    & > .crew-details{
        grid-area: content;
    }

    @media (min-width: 35em) {
        margin-top: 15rem;
        padding-bottom: 0;
        grid-template-areas: 
            'title'
            'content'
            'tabs'
            'image';

        & > .crew-details{
            margin-top: 3rem;
            grid-area: content;
        }
    }

    @media (min-width: 45em) {
        margin-top: 0rem;
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(1rem, 1fr);
        justify-items: start;
        grid-template-areas: 
            '. title title .'
            '. content image .'
            '. tabs image .';

        & > picture{
            grid-column: span 2;
            align-self: end; 
            max-width: 70%;
        }

        & > .crew-details{
           margin-top: 6rem;
        }
    }
    


}

.numbered-title {
    grid-area: title;
    align-self: end; 
}

.crew-details h2 {
    color: alpha(var(--clr-white), 0.5);
}


    
   
   
